.form2 {
    --bg-light: #efefef;
    --bg-dark: #da3d3d;
    --clr: #ffffff;
    --clr-alpha: #ffffff;
    --letter: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin-left: -5rem;
}

.form2 .input-span {
    width: 160%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form2 input[type="email"],
.form2 input[type="password"],
.form2 input[type="name"], 
.form2 input[type="confirm_password"] {
    border-radius: 0.5rem;
    padding: 1rem; 
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    color: var(--letter);
    font-size: 1rem;
}

.form2 input[type="email"]:focus,
.form2 input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form2 .submit {
    padding: 1rem 0.75rem;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 5rem;
}

.form2 .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span-register {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}

.image2 {
    width: 50%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-top: -0.5rem;
    margin-right: -15rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 10rem;
    gap: 1rem;
}

.logo {
    width: 90%;
    height: auto;
    display: block;
    margin-top: -5rem;
    margin-left: 0rem;
    margin-bottom: -3rem;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
    }

    .image2 {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        border-radius: 0;
    }

    .form2 {
        max-width: 100%;
    }

    .form2 input[type="email"],
    .form2 input[type="password"] {
        padding: 1rem;
    }

    .logo {
        margin-top: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 10rem;
    }

    .image2 {
        width: 60%;
        margin-left: -10rem;
    }

    .form2 {
        max-width: 250px;
    }
}